@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@200&family=Quicksand:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.logo {
  font-size: 1em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.3em;
  font-size: 1.5em;
}
.des {
  margin-left: 0.3em;
}
header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: sticky;
  top: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
}
ul {
  display: flex;
  list-style: none;
}
nav li {
  border: none;
  display: inline-block;
  margin: 3em 0 3em 2em;
}
li a {
  text-decoration: none;
  color: #111;
  padding: 1em;
  cursor: pointer;
}

nav a:hover {
  color: #fff;
  background-color: #111;
  border-radius: 3px;
}
.active {
  border-bottom: 5px solid #654321;
}
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home {
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0.3) url("b1.jpg");
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  text-align: center;
  padding: 0 15%;
}
.logo {
  height: 2em;
}
.headsubcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.headline {
  color: #fff;
  font-size: 3em;
  margin-bottom: 2%;
}
.subline {
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 3%;
}
.btn {
  font-size: 1.5em;
  background-color: #654321;
  color: #fff;
  padding: 0.5em 0.7em;
  letter-spacing: 1px;
  margin-top: 7%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
#arrow {
  margin-left: 0.8em;
}
.title {
  font-size: 1.6em;
  padding: 0.5em;
  margin: 3%;
  border-bottom: 5px solid #654321;
}
.services {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 12%;
  background-color: #fff;
}
.services-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.servs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.box {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #fcf9f5;
  padding: 3%;
  margin: 5%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.design {
  height: 25px;
}
.icon {
  height: 30%;
  width: 50%;
  margin-top: 40px;
  margin-bottom: 25px;
}
.icon22 {
  height: 35%;
  width: 50%;
}
.title1 {
  font-size: 1.3em;
  margin: 3%;
}
.sub {
  font-size: 1em;
}
#products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10%;
  height: auto;
  background-color: #fcf9f5;
  flex-wrap: wrap;
}
.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.photo {
  width: 30em;
  height: 40em;
  margin: 3%;
}
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  line-height: 2em;
  height: auto;
  padding: 10%;
}
.contact-container {
  text-align: left;
  font-size: 1.5em;
  letter-spacing: 2px;
  color: #555;
}
.fabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.fab {
  margin: 10% 0;
  cursor: pointer;
}
#footer {
  letter-spacing: 2px;
  height: 0;
  padding: 2em;
  color: #fff;
  background-color: #654321;
}

/**/
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 2.5em;
  height: 0.3em;
  background-color: #111;
  margin: 0.6em;
}
.nav-active {
  transform: translateX(0%);
}
.open .line1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .line2 {
  opacity: 0;
}

.open .line3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0vh;
    top: 6vh;
    height: 100vh;
    display: flex;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .burger {
    display: block;
  }
  .title {
    font-size: 1em;
  }
  .logo {
    font-size: 1em;
  }
  .headline {
    font-size: 1em;
  }
  .subline {
    font-size: 0.8em;
  }
  .btn {
    font-size: 1em;
    background-color: #654321;
    color: #fff;
    padding: 0.5em 0.7em;
    letter-spacing: 1px;
    margin-top: 7%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  #arrow {
    margin-left: 0.7em;
  }

  .photo {
    width: 15em;
    height: 20em;
    margin: 3%;
  }

  .servs {
    flex-direction: column;
    height: auto;
  }
  .box {
    width: 85%;
    padding: 10%;
    margin: 10%;
  }

  .title1 {
    font-size: 1em;
    margin: 3%;
  }
  .sub {
    font-size: 0.6em;
  }

  .contactSub {
    font-size: 0.5em;
  }
  #footer {
    font-size: 0.5em;
  }

  .open .line1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .line2 {
    opacity: 0;
  }
  
  .open .line3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
}

@media screen and (max-width: 600px) {
  .nav-links {
    top: 5vh;
  }
  .burger div {
    width: 2em;
    height: .2em;
    background-color: #111;
    margin: .6em;
  }
}
@media screen and (max-width: 300px) {
  .nav-links {
    position: absolute;
    top: 3vh;
    height: 100vh;
    display: flex;
    padding: 2em;
  
  }
  .burger div {
    width: 1.5em;
    height: .1em;
    background-color: #111;
    margin: .4em;
  }
}


.nav-active {
  transform: translateX(0%);
}